/*font-family: 'Poiret One', cursive;
font-family: 'Arapey', serif;
font-family: 'Pragati Narrow', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Nixie One', cursive;
font-family: 'Bungee Hairline', cursive;*/

   body{
    margin: 0px;
   box-sizing: border-box;
   }

/*editanto div fondo*/
   .fondo{
     box-sizing: border-box;
     position: relative;
    background: black;
      margin: 10vh 25vw;
      height:80vh;
      width: 50vw;

   }
 
   
/*editando el titulo grande*/
   #titulo{
      position:fixed;
      left:20vw;
      top:30px;
      height: auto;
      width: auto;
   }


   #titulo h1{
      margin:0px;
      padding:0px;
      font-family: 'Bungee Hairline', cursive;
      font-size: 3rem;
      color:Yellow;
      text-shadow: 0px 3px black;
      letter-spacing:10px;
   }

   /*editando menu de navegacion*/

   nav.navegacion{
      transform:
   }
